#main {
    padding-bottom: 0px !important;
}
.backgroud-login {
    left: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
    background: url(../img/bg-login.png) no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
.backgroud-login-opacity{
    left: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
}
.box-login {
    width: 380px;
    margin: 0px auto;
}
.title-login {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
.form-login {
    background-color: #fff;
    padding: 10px 30px 30px;
}
.smart-form fieldset {
    padding: 10px 30px 10px !important;
}

.login-title {
    color: #32C5D2;
    font-weight: 400 !important;
    text-align: center;
    font-size: 28px;
}
.smart-form fieldset {
    background: none;
}
.smart-form .label {
    color: #8290a3;
}
.smart-form .note a {
    color: #337ab7;
    font-size: 13px;
}
.smart-form .checkbox {
    margin-top: 9px;
    color: #8290a3;
}
.btn {
    padding: 10px 14px;
    background-color: #32C5D2 !important;
    border: none;
    color: #fff;
    border-radius: 0;
}
.btn:hover, .btn:focus {
    background-color: #1394EC !important;
    border: none;
    color: #fff;
}
.alert {
    display: none;
}
.form-control {
    background-color: #dde3ec !important;
    height: 43px !important;
    color: #8290a3 !important;
    border: 1px solid #dde3ec !important;
}
.form-control:focus {
    border: 1px solid #c3ccda !important;
}
.forgotPassword {
    display: none;
}
.forgot-pass {
    padding: 10px 0 17px;
    text-align: center;
    background-color: #6c7a8d;
}
.forgot-pass p {
    margin-bottom: 0px;
    margin-top: 2px;
}
#forgotPass {
    font-weight: 400;
    font-size: 14px;
    color: #c3cedd;
    text-transform: uppercase;
}
.copyright {
    text-align: center;
    margin: 0 auto 0px 0;
    padding: 10px;
    color: #fff;
    font-size: 13px;
    width: 400px;
}
div.g-recaptcha > div {
    width: 100% !important;
}
.input-error {
    background: #FFF0F0 none repeat scroll 0% 0% !important;
    border-color: #A90329 !important;
}
.input-error:focus {
    background: #FFF0F0 none repeat scroll 0% 0% !important;
    border-color: #A90329 !important;
}
#content {
    background-color: transparent;
}